In [52]:
import tensorflow as tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [53]:
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [54]:
with open('Scaler.pkl','rb') as file:
    scaler=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder=pickle.load(file)

with open('onehotencode.pkl','rb') as file:
    onehotencoder=pickle.load(file)

In [55]:
test_entry = {
    "CreditScore": 619,
    "Geography": "France",
    "Gender": "Female",
    "Age": 42,
    "Tenure": 2,
    "Balance": 0.00,
    "NumOfProducts": 1,
    "HasCrCard": 1,
    "IsActiveMember": 1,
    "EstimatedSalary": 101348.88,
    }

In [56]:
geo_encoded = onehotencoder.transform([[test_entry['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehotencoder.get_feature_names_out(['Geography']))

d:\Udemy\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [57]:

geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [58]:
# need to convert dictionary to dataframe
input_df=pd.DataFrame([test_entry])

In [59]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88

[1 rows x 10 columns]

In [60]:
input_df['Gender']=label_encoder.transform(input_df['Gender'])

In [61]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France       0  ...          1               1        101348.88

[1 rows x 10 columns]

In [62]:
# so lets change it
input_df=pd.concat([input_df.drop(['Geography'],axis=1),geo_encoded_df],axis=1)

In [63]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0

[1 rows x 12 columns]

In [64]:
## scaling the input data
input_scaled=scaler.transform(input_df)

In [ ]:
input_scaled

array([[-0.3239309 , -1.09858844,  0.29393597, -1.0505424 , -1.22857648,
        -0.9136337 ,  0.6464804 ,  0.96680078,  0.02441591,  0.99128795,
        -0.57792762, -0.57003687]])

In [66]:
model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 96ms/step

array([[0.5128231]], dtype=float32)

In [71]:
prediction=model.predict(input_scaled)

if(prediction[0][0]>0.5):
    print("LIKELY TO CHURN")

else :
    print("NOT CHURN")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
LIKELY TO CHURN